.blox {
    position: relative;
}

#block1 {
    position: absolute;
    width: 15rem;
    height: 10rem;
    background-color: #2a3d66;
    z-index: 5;
    border-radius: 1rem;
}

#block2 {
    position: absolute;
    width: 15rem;
    height: 10rem;
    background-color: #5d54a4;
    z-index: 4;
    left: 2rem;
    top: 2rem;
    border-radius: 1rem;
}

#block3 {
    position: absolute;
    width: 15rem;
    height: 10rem;
    background-color: #9d65c9;
    z-index: 3;
    left: 4rem;
    top: 4rem;
    border-radius: 1rem;
}

#block4 {
    position: absolute;
    width: 15rem;
    height: 10rem;
    background-color: #d789d7;
    z-index: 2;
    left: 6rem;
    top: 6rem;
    border-radius: 1rem;
}

#block5 {
    position: absolute;
    width: 15rem;
    height: 10rem;
    background-color: #d3a6d3;
    z-index: 1;
    left: 8rem;
    top: 8rem;
    border-radius: 1rem;
}

#block1:hover {
    background-color: #484c7f;
}

#block2:hover {
    background-color: #ac8daf;
    z-index: 5;
}

#block3:hover {
    background-color: #ddb6c6;
    z-index: 5;
}

#block4:hover {
    background-color: #f1d4d4;
    z-index: 5;
}

#block5:hover {
    background-color: #f0bff0;
    z-index: 5;
}


.dropbtn {
    border: none;
    width: 10rem;
    height: 10rem;
    opacity: 0.15;
    filter: alpha(opacity=90)
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  }
    
.dropdown-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   
}
  
.dropdown-content a {
    color: black;
    padding: 2rem 7rem;
    text-decoration: none;
    display: block;
  }

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content a:hover {background-color:skyblue;}

#menu1 {
    position: absolute;
    z-index: 3;
    background-color: slateblue;
    width: 15rem;
    border-radius: 0.5rem;
}
#menu2 {
    position: absolute;
    z-index: 2;
    top: 1.5rem;
    background-color: steelblue;
    width: 15rem;
    border-radius: 0.5rem;
}
#menu3 {
    position: absolute;
    z-index: 1;
    top: 3rem;
    background-color: slategrey;
    width: 15rem;
    border-radius: 0.5rem;
}

#menu2:hover {
    z-index: 3;
    border-radius: inherit;
    
}

#menu3:hover {
    z-index: 3;
    border-radius: inherit;
    
}

#menu1:hover {
    border-radius: inherit;
    
}

